.countDown-container .item {
    width: 62px;
    height: 62px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    padding-top: 2%;
}

.countDown-container .item h4 {
    color: #000000;
}

.countDown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
}

